<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Психолог - Имя Фамилия</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="#">
<!--             <img src="/Uk.png"  height="120"  width="55" alt="Логотип">-->
            <!-- <span>Психолог </span> -->
        </a>
    </div>
    <nav class="nav">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li><img src="/Uk.png"  height="40"  width="40" alt="Логотип"></li>
            <li><a href="#home">Главная</a></li>
            <li><a href="#about">Обо мне</a></li>
            <li><a href="#services">Услуги</a></li>
            <li><a href="#blog">Блог</a></li>
<!--            <li><a href="#testimonials">Отзывы</a></li>-->
            <li><a href="#contact">Контакты</a></li>

        </ul>
    </nav>
</header>

<main>
    <section id="home" class="home">
        <h1>Добро пожаловать!</h1>
        <p>Здесь вы можете найти информацию обо мне, моих услугах и записаться на консультацию.</p>
    </section>

    <section id="about">
        <h2>Виктория Селещева</h2>
        <img src="/2024-03-28 17.01.35.jpg" alt="Фото психолога">
        <p>Меня зовут Виктория Селещева , и я практикующий психолог. <br> Я специализируюсь на семейном консультировании, терапии отношений и работе с тревожными расстройствами.</p>
        <a href="#" class="btn">Узнать больше</a>
    </section>

    <section id="services">
        <h2>Услуги</h2>
        <ul>
            <li>Индивидуальная терапия</li>
            <li>Семейная терапия</li>
            <li>Групповая терапия</li>
            <li>Онлайн-консультации</li>
        </ul>
        <a href="#" class="btn">Записаться на консультацию</a>
    </section>

    <section id="blog">
        <h2>Блог</h2>
        <div class="blog-post">
            <img src="/2024-03-28 17.09.15.jpg" alt="Изображение поста 1">
            <h3>Заголовок поста 1</h3>
            <p>Краткое описание поста...</p>
            <a href="#" class="btn">Читать далее</a>
        </div>
        <br>
        <div class="blog-post">
            <img src="/get.jpeg" height="600" alt="Изображение поста 2">
            <h3>Заголовок поста 2</h3>
            <p>Краткое описание поста...</p>
            <a href="#" class="btn">Читать далее</a>
        </div>
    </section>

    <section id="contact">
        <h2>Принять участие </h2>
        <form>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="email">Номер мобильного:</label>
            <input type="email" id="" name="email" required>

            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" required></textarea>


            <button type="submit">Отправить</button>
        </form>
    </section>
</main>

<footer>
    <p>&copy; Виктоия Селещева - Психолог</p>
    <p>ЧП Виктоия Селещева Олеговна </p>
    <p>Расчетный счет 40802810500001186633</p>
    <p>Банк АО "Приват Банк"</p>
    <p>&copy; 2020 - 2024 </p>

    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="https://www.instagram.com/viktoriia_selyshcheva/">Instagram</a></li>
    </ul>
</footer>

</body>
</html>