<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Психолог - Виктория Селещева</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="#">
<!--             <img src="/Uk.png"  height="120"  width="55" alt="Логотип">-->
            <!-- <span>Психолог </span> -->
        </a>
    </div>
    <nav class="nav">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li><img src="/Uk.png"  height="40"  width="40" alt="Логотип"></li>
            <li><a href="/">Главная</a></li>
            <li><a href="#about">Обо мне</a></li>
            <li><a href="#services">Услуги</a></li>
            <li><a href="#blog">Биография</a></li>
            <li><a href="/contact">Отзывы</a></li>
            <li><a href="#contact">Контакты</a></li>

        </ul>
    </nav>
</header>

<main>
    <section id="home" class="home">
        <h1>Добро пожаловать!</h1>
        <p>Здесь вы можете найти информацию обо мне, моих услугах и записаться на консультацию.</p>
    </section>

    <section id="about">
        <h2>Виктория Селещева</h2>
        <img src="/2024-03-28 17.01.35.jpg" alt="Фото психолога">
        <p>Меня зовут Виктория Селещева , и я практикующий психолог. <br> Я специализируюсь на семейном консультировании, терапии отношений и работе с тревожными расстройствами.</p>
        <a href="#" class="btn">Узнать больше</a>
    </section>

    <section id="services">
        <h2>Услуги</h2>
        <ul>
            <li>Индивидуальная терапия</li>
            <li>Семейная терапия</li>
            <li>Групповая терапия</li>
            <li>Онлайн-консультации</li>
        </ul>
        <a href="#contact" class="btn">Записаться на консультацию</a>
    </section>

    <section id="blog">
        <h2>Биография </h2>
        <div class="blog-post">
            <img src="/2024-03-28 17.09.15.jpg" alt="Изображение поста 1">
            <h3 class="home">**Доктор Виктория Селищева:** </h3>
            <p>
                - *15 сентября 1994 года<br>
                - * Харьков, Украина<br><br>

                **Образование:**<br>
                Виктория Селищева получила степень доктора психологических наук в университете , где ее старательные исследования и уникальный подход к психотерапии привлекли внимание международного сообщества психологов. Ее диссертация о психологии счастья и эмоционального благополучия получила признание и была опубликована в нескольких академических журналах.<br><br>

                **Профессиональная карьера:**<br>
                После завершения обучения Виктория начала свою карьеру как консультант по психологии в одной из ведущих клиник Сан-Паулу. Ее непревзойденное понимание человеческой психики, теплота и сострадание позволили ей стать одним из самых востребованных психологов в стране.

                Вскоре ее работы начали привлекать внимание не только национальных, но и международных СМИ. Ее методики лечения, ориентированные на развитие внутреннего равновесия и самопонимания, стали образцом для многих практикующих психологов по всему миру.<br><br>
                **Международная деятельность:**<br>
                Благодаря своей известности и успехам в области психологии, Виктория Селещева была приглашена вести серию лекций и семинаров в различных странах мира. Ее уникальный подход к психотерапии, сочетающий классические методики с современными технологиями исследований, сделал ее одной из самых авторитетных фигур в области психологии мирового масштаба.<br><br>

                **Публикации и достижения:**<br>
                Виктория Селищева является автором нескольких бестселлеров по психологии и саморазвитию, переведенных на множество языков. Ее работы в области эмоционального здоровья и психологии успеха считаются классикой современной психологии. Ее вклад в развитие психологии оценивается не только профессиональным сообществом, но и миллионами людей по всему миру, которые нашли в ее методах поддержку и вдохновение для изменения своей жизни к лучшему.</p>
            <a href="#" class="btn">Читать далее</a>
        </div>
        <br>
        <div class="blog-post">
            <img src="/get.jpeg" height="600" alt="Изображение поста 2">
            <h3>Заголовок поста 2</h3>
            <p>Краткое описание поста...</p>
            <a href="#" class="btn">Читать далее</a>
        </div>
    </section>

    <section id="contact">
        <h2>Принять участие </h2>
        <form action="/contact" method="post">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Номер мобильного:</label>
            <input type="text" id="phone" name="phone" required>

            <label for="message">Сообщение:</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Отправить</button>
        </form>
    </section>
</main>

<footer>
    <p>&copy; Виктоия Селещева - Психолог</p>
    <p>ЧП Виктоия Селещева Олеговна </p>
    <p>Расчетный счет 40802810500001186633</p>
    <p>Банк АО "Приват Банк"</p>
    <p>&copy; 2020 - 2024 </p>

    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="https://www.instagram.com/viktoriia_selyshcheva/">Instagram</a></li>
    </ul>
</footer>

</body>
</html>